@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

div.foto{
	float:left;
	padding: 1%;
	padding-right: 3%;

}

div.compra_alquiler, div.descripcion{
	font-family: Roboto;
	padding-top: 3%;

}
